google-search-results
replicate
pymongo
PyPDF2
duckduckgo-search
uvicorn
flask
pydantic==1.10.9
langchain==0.0.268
llama-index==0.8.22
llama-cpp-python==0.1.78
sentence_transformers
grpcio<=1.58.0,>=1.49.1
pymilvus
spacy
https://huggingface.co/spacy/en_core_web_sm/resolve/main/en_core_web_sm-any-py3-none-any.whl
transformers
git+https://github.com/openai/whisper.git
torch
accelerate
bitsandbytes
llava-torch==1.1.1
pysbd
gtts
faster_whisper
tiktoken
#flash-attn
text-generation
git+https://github.com/runpod/runpod-python.git
gunicorn
gradio==3.35.2
pydantic==1.10.9
